*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    &::before, &::after{
        box-sizing: border-box;
    }
}

html, body{
    min-height: 100%;
}

html{
    font-size: 10px;
    overflow-x: hidden;
    background-color: #E5E5E5;
    
    @media (max-width:1280px) {
        font-size: 9px;
    }
    @media (max-width:960px) {
        font-size: 7px;
    }
    @media (max-width:768px) {
        font-size: 6px;
    }
    @media (max-width:540px) {
        font-size: 5px;
    }
}

strong{
    font-weight: 700
}

button{
    border: none;
    background: none;
    font: inherit;
}

body{
    font-size: 1.6rem;
    min-width: 320px;
    position: relative;
    font-family: 'Roboto', sans-serif;
    line-height: 1;
    font-weight: 400;
}

h1,h2,h3,h4,h5,p,ul,blockquote,ol{
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6{
    font-weight: 700;
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 3rem;
    font-weight: 900;
}

h3{
    font-size: 2.6rem;
}

h4{
    font-size: 2.2rem
}

h5{
    font-size: 1.8rem
}

a, a:hover, a:focus{
    text-decoration: none;
}

figure{
    margin: 0;
    padding: 0;
}
a, button{
    transition: all 0.3s ease;
    cursor: pointer;
}

a,button,input,textarea,select{
    &:focus{
        outline: none;
        text-decoration: none;
    }
}

ul{
    list-style: none
}

.page{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.footer{
    margin-top: auto;
}

img{
    display: block;
}
.container{
    max-width: 1140px;
    margin: auto;
    padding-left: 2rem;
    padding-right: 2rem;
}
