// colors

$color-white: #fff;
$color-black: #000;
$color-main: #6E243B;
$color-grey: #575454;
$color-rights: #808080;
$color-title: #3A3636;
$color-title2: #74243F;
$color-input: #DFE1F0; 



$transition: all .2s ease-in;