// colors

$color-white: #fff;
$color-black: #000;
$color-purple: #6E243B;
$color-grey: #575454;
$color-rights: #808080;
$color-title: #3A3636;
$color-purple2: #74243F;



$transition: all .2s ease-in;