.contact{
    z-index: 1;
    
    &__content{
        max-width: 114rem;
        margin: auto;
        height: 18.6rem;
        background: $color-white;
        transform: translateY(-9rem);
    }
    &__wrap{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5rem 5rem;
        @media (max-width:540px){
            display: block;
            border: 1px solid $color-main;
        }
    }
    &__column:not(:last-child){
        @media (max-width:540px){
            margin-bottom: 35px;
        }
    }
    &__mail{
        font-size: 30px;
        line-height: 130%;
        color: $color-main;
    }
    &__phone{
        font-size: 30px;
        line-height: 130%;
        color: $color-main;
    }
    &__socials{
        display: flex;
        align-items: center;
        width: 18.7rem;
        justify-content: space-between;
        width: 18.7rem;
        @media (max-width:540px){
            width: 100%;
            justify-content: flex-start;
          }
    }
    &__social:not(:last-child){
        @media (max-width:540px){
            margin-right: 5rem;
        }
    }
    &__name{
        font-size: 16px;
        line-height: 170%;
        color: $color-black;
        opacity: 0.5;
        padding-top: 2rem;
    }
    &__call{
        display: flex;
        padding-top: 2rem;
    }
    &__call-name{
        font-size: 16px;
        line-height: 170%;
        color: $color-black;
        opacity: 0.5;
        padding-right: 2rem;
    }
    &__call-socials{
        display: flex;
        width: 9.1rem;
        justify-content: space-between;
        align-items: center;
        @media (max-width:540px){
            width: 100%;
            justify-content: flex-start;
        }
    }
    &__call-social:not(:last-child){
        @media (max-width:540px){
            margin-right: 2rem;
        }
    }
}