
.food{
  padding-top: 16rem;
  padding-bottom: 16rem;
  background: linear-gradient(to right, $color-main 60%, $color-white 60%);
  &__wrapper{
    display: flex;
    align-items: center;
  }
  &__content{
    width: 40%;
    &-title{
      padding-bottom: 4rem;
      margin-bottom: 4rem;
    }
    &-subtitle{
      margin-bottom: 4rem;
    }
    &-link{}
    &-link a{}
  }
  &__slider{
    position: absolute;
    right: 0;
    overflow: hidden;
    width: 53%;
    &-image{
      width: 30%;
    }
    &-image img{
      width: 100%;
    }
  }
}