.form{
    & input{
        display: block;
    }
    &__title{
        font-size: 5rem;
        line-height: 130%;
        color: $color-title;
        text-align: center;
        text-transform: uppercase;
        padding-top: 10rem;
        padding-bottom: 2rem;
        @media (max-width:540px) {
            font-size: 7rem;
        }
    }
    &__subtitle{
        line-height: 170%;
        font-size: 16px;
        text-align: center;
        color: $color-grey;
        padding-bottom: 7.3rem;
    }
    &__wrap{
        display: flex;
        justify-content: space-between;
        margin-bottom: 4.7rem;
        @media (max-width:540px) {
            flex-direction: column;
        }
    }
    &__column{
        width: 30%;
        @media (max-width:540px) {
            margin-bottom: 4.3rem;
            width: 100%;
        }
        &--order{
            @media(max-width:540px){
            }
        }
        
    }
    &__input{
        border: 0;
        border-bottom: 2px solid $color-input;
        width: 100%;
        outline: 0; 
        font-size: 18px;
        line-height: 170%;
        color: $color-black;
        opacity: 0.5;
        margin-bottom: 4.3rem;
        font-family: 'Century Gothic';
        position: relative;
        transition: $transition;
        transition: $transition;
        @media (max-width:768px) {
            font-size: 14px;
        }
        @media (max-width:540px) {
            width: 100%;
            font-size: 16px;
            height: 25px;
        }
        &:focus{
            border-bottom: 2px solid $color-main;
        }
        &-date{
            position: relative;
        }
        &-date::before{
            position: absolute;
            content: 'Дата бронирования';
            font-size: 12px;
            top: -16px;
            left: 0;
            opacity: .5;
        }
        &-time{
            position: relative;
        }
        &-time::before{
            @media(max-width:540px){
                position: absolute;
                content: 'Время';
                font-size: 12px;
                top: -16px;
                left: 0;
                opacity: .5;
            }
           
        }
    }
    &__name{
        font-size: 12px;
        line-height: 170%;
        color: $color-black;
        opacity: 0.5;
    }
    &__list{
        border: 0;
        border-bottom: 2px solid $color-input;
        width: 100%;
        outline: 0; 
        font-size: 18px;
        line-height: 170%;
        color: $color-black;
        opacity: 0.5;
        font-family: 'Century Gothic';
        margin-bottom: 4.3rem;
        &-title{
            @media(max-width: 540px){
                font-size: 0px;
            }
        }
        @media (max-width:768px) {
            font-size: 14px;
        }
        @media (max-width:540px) {
            font-size: 16px;
        }
    }
    &__button-wrap{
        text-align: center;
    }
    &__btn{
        color: $color-white;
        font-size: 2rem;
        width: 33rem;
        height: 8rem;
        border: none;
        background: $color-main;
        line-height: 150%;
        text-transform: uppercase;
        margin-bottom: 10rem;
        cursor: pointer;
        @media (max-width:540px){
            font-size: 3rem;
            width: 43rem;
            height: 12rem;
        }
        &:hover{
            background-color: $color-white ;
            color: $color-main;
            border: 1px solid $color-main;
        }
    }
}
.online{
    color: $color-title2;
}