.map{
    background-image: url(../img/blocks/map/map.png);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    height: 60rem;
    &__address{
        position: relative;
        font-size: 1.6rem;
        line-height: 170%;
        color: $color-black;
        max-width: 31rem;
        background-color: $color-white;
        padding: 1.5rem 2rem 1.5rem 2rem;
        margin: auto;
        margin-top: 15.6rem;
        @media (max-width:960px){
            max-width: 45rem;
            font-size: 2rem;
        }
        @media (max-width:540px){
            width: 100%;
            font-size: 3rem;
            max-width: 60rem;
          }
        &::before{
            position: absolute;
            content: '';
            width: 2rem;
            height: 2rem;
            bottom: 0;
            left: 50%;
            transform: translate(-51%, 50%) rotate(45deg);
            background: $color-white;
            
        }
    }
    &__placeholder{
        display: flex;
        justify-content: center;
        margin-top: 2.5rem;
        @media (max-width:540px){
            margin-top: 5rem;
          }
    }
}